@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    margin: 0;
    padding: 0;
    color: #113311;
    background-color: #eaefea;
    font-family: 'Montserrat';
    text-align: center;
    font-size: 16px;
}

.navigation{
    background-color: #aaccaa;
    display: table-row;
    height: 3em;
    z-index: 10;
    background-position: 0%;
}

.nav-button{
    display: table-cell;
    text-decoration: none;
    color: #ffffff;
    padding-top: .85em;
    width: 100vw;
    transition: background-color .3s;
    &:hover{
        background-color: #7a9a7a;
    }
}

#newsfeed{
    height: fill;
    background-color: #779977;
}

#logo-box{
    background-color: #779977;
}

#logo{
    padding: 0;
    margin-top: .5em;
}

.card{
    margin: 1.5em;
    padding: 1em;
    background-color: #ffffff;
    text-align: left;
    border-radius: 10px;
}

.profile{
    position: relative;
    height: 5em;
    width: fill;
    display: inline-flex;
    margin-bottom: .5em;
}

.profile-pic-container{
    width: 60px;
    height: 72px;
    overflow: hidden;
}

.profile-pic{
    width: 60px;
    border-radius: 50px;
    clip: rect(auto); 
    &:hover{
        cursor: pointer;
    }
}

.profile-text{
    position: absolute;
    height: 1em;
    margin: 3em 5em;
}

.name{
    font-weight: bold;
    &:hover{
        cursor: pointer;
    }
}

.date{
    margin-left: 12em;
}