@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    margin: 0;
    padding: 0;
    color: #113311;
    background-color: #eaefea;
    font-family: 'Montserrat';
    text-align: center;
    font-size: 16px;
}

.navigation{
    background-color: #aaccaa;
    height: 3em;
    display: table-row;
}

.nav-button{
    display: table-cell;
    text-decoration: none;
    color: #ffffff;
    margin: auto;
    text-align: center;
    padding-top: .85em;
    width: 20vw;
}

#newsfeed{
    height: fill;
    width: 20vw;
    background-color: #779977;
}

#logo-box{
    background-color: #ffffff;
    margin: auto;
}

#logo{
    text-align: center;
    height: 39px;
    width: 39px;
    padding: 0;
    margin: 0;
    position: absolute;
}