<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up for Focal Point</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sign-in/sign-in.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common/scrollbar.css') }}">

</head>
<body>
    <div class="logo">
        <img src="{{ url_for('static', filename='assets/images/placeholder-logo.svg') }}" alt="">
    </div>
    <div class="card">
        <form action="#" method="POST">    
            <p>username</p>
            <input type="text" name="username" id="username" placeholder=""></input>
            <p>first name</p>
            <input type="text" name="firstname" id="firstname" placeholder=""></input>
            <p>last name</p>
            <input type="text" name="lastname" id="lastname" placeholder=""></input>
            <p>password</p>
            <input type="password" name="pass1" id="pass1" placeholder=""></input>
            <p>confirm password</p>
            <input type="password" name="pass2" id="pass2" placeholder=""></input>
            <a href="/sign-in" class="button">Sign up</a>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <script>
        var tl0 = gsap.timeline({defaults:{duration: .3, ease: Back.easeOut.config(2), opacity: 0}})
        var tl1 = gsap.timeline({defaults:{duration: 1, delay:1}})

        tl0.from(".logo", {delay: .5, scale: .5, transformOrigin: 'center'}, "=.2")
           .from(".card", {delay: 0, scale: .7})
           .from("input", {delay: .5, x: -20}, "-=.3")
           .from("p", {delay: 0, x: -20}, "-=.1")
           .from(".button", {delay: 0, x: -20})

        tl1.to(".logo", {repeat: -1, yoyo:true, rotation:2, transformOrigin: 'center'})
    </script>
</body>
</html>